<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de usu치rio</title>
</head>
<body>
    <form action="/autenticacao" method="post">
        <h1>Login de usu치rio</h1><br><br>
        <input type="text" name="email" placeholder="Digite o email do usu치rio" value = "" ><br><br>
        <input type="password" name="password" placeholder="Digite a senha do usu치rio" value = ""><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>